<div class="login-page">
    <!-- Left content -->
    <div class="left-container">
        <img src="./assets/images/undraw_book_lover_mkck.svg"
             alt="undraw_bibliophile" />
    </div>

    <!-- Right content -->
    <div class="right-container">
        <div class="header-image">
            <img src="./assets/images/company-logo.svg"
                 alt="god_logo" />
        </div>
        <div class="login-form"
             style="flex: 100%">
            Main Content
        </div>
        <div class="small-footer">
            Small Footer
        </div>
    </div>
</div>